## Pandas Library
- Pandas is one of the python library which deals with data manipulation, cleaning, preprocessing, etc..
- Pandas is applied for different formats like Excel, CSV, json, etc...

In [1]:
# pip install pandas

In [14]:
## Importing pandas
import pandas as pd

### Types
- Series: 1-D array
- DataFrames: It a format of Rows and columns.

### Series:
- pd.Series()

In [3]:
print(dir(pd))

['Categorical', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'ExcelFile', 'ExcelWriter', 'Expr', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int64Index', 'Interval', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Panel4D', 'Period', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseList', 'SparseSeries', 'Term', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt64Index', 'WidePanel', '_DeprecatedModule', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p10', '_np_version_under1p11', '_np_version_under1p12', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_tslib', '_version', 'api', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'datetools', 'describe_option', 'errors', 'eval', 'ewma', 'ewmcorr', 'ewmcov', 'ewmstd', 'ewmvar', 'ewmvol', 'expanding_apply', 'expanding_corr', 'expanding_count', 'expanding_cov', 'expanding_kurt', 'expanding_max', 'expanding_mean', 'expanding_median', 'expanding_min', 'expanding_quantile', 'expanding_skew', 'expanding_std', 'expanding_sum', 'expanding_var', 'factorize', 'get_dummies', 'get_option', 'get_store', 'groupby', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json', 'lib', 'lreshape', 'match', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'ordered_merge', 'pandas', 'parser', 'period_range', 'pivot', 'pivot_table', 'plot_params', 'plotting', 'pnow', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'rolling_apply', 'rolling_corr', 'rolling_count', 'rolling_cov', 'rolling_kurt', 'rolling_max', 'rolling_mean', 'rolling_median', 'rolling_min', 'rolling_quantile', 'rolling_skew', 'rolling_std', 'rolling_sum', 'rolling_var', 'rolling_window', 'scatter_matrix', 'set_eng_float_format', 'set_option', 'show_versions', 'stats', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tools', 'tseries', 'tslib', 'unique', 'util', 'value_counts', 'wide_to_long']

In [4]:
help(pd.Series)

Help on class Series in module pandas.core.series:

class Series(pandas.core.base.IndexOpsMixin, pandas.core.generic.NDFrame)
 |  One-dimensional ndarray with axis labels (including time series).
 |
 |  Labels need not be unique but must be a hashable type. The object
 |  supports both integer- and label-based indexing and provides a host of
 |  methods for performing operations involving the index. Statistical
 |  methods from ndarray have been overridden to automatically exclude
 |  missing data (currently represented as NaN).
 |
 |  Operations between Series (+, -, /, *, **) align values based on their
 |  associated index values-- they need not be the same length. The result
 |  index will be the sorted union of the two indexes.
 |
 |  Parameters
 |  ----------
 |  data : array-like, dict, or scalar value
 |      Contains data stored in Series
 |  index : array-like or Index (1d)
 |      Values must be hashable and have the same length as `data`.
 |      Non-unique index values are allowed. Will default to
 |      RangeIndex(len(data)) if not provided. If both a dict and index
 |      sequence are used, the index will override the keys found in the
 |      dict.
 |  dtype : numpy.dtype or None
 |      If None, dtype will be inferred
 |  copy : boolean, default False
 |      Copy input data
 |
 |  Method resolution order:
 |      Series
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__ = wrapper(left, right, name='__add__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1A1840>)
 |
 |  __and__ = wrapper(self, other)
 |
 |  __array__(self, result=None)
 |      the array interface, return my values
 |
 |  __array_prepare__(self, result, context=None)
 |      Gets called prior to a ufunc
 |
 |  __array_wrap__(self, result, context=None)
 |      Gets called after a ufunc
 |
 |  __div__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1A1F28>)
 |
 |  __divmod__ = wrapper(left, right, name='__divmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1C11E0>)
 |
 |  __eq__ = wrapper(self, other, axis=None)
 |
 |  __float__ = wrapper(self)
 |
 |  __floordiv__ = wrapper(left, right, name='__floordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AA158>)
 |
 |  __ge__ = wrapper(self, other, axis=None)
 |
 |  __getitem__(self, key)
 |
 |  __gt__ = wrapper(self, other, axis=None)
 |
 |  __iadd__ = f(self, other)
 |
 |  __iand__ = f(self, other)
 |
 |  __ifloordiv__ = f(self, other)
 |
 |  __imod__ = f(self, other)
 |
 |  __imul__ = f(self, other)
 |
 |  __init__(self, data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __int__ = wrapper(self)
 |
 |  __ior__ = f(self, other)
 |
 |  __ipow__ = f(self, other)
 |
 |  __isub__ = f(self, other)
 |
 |  __itruediv__ = f(self, other)
 |
 |  __ixor__ = f(self, other)
 |
 |  __le__ = wrapper(self, other, axis=None)
 |
 |  __len__(self)
 |      return the length of the Series
 |
 |  __long__ = wrapper(self)
 |
 |  __lt__ = wrapper(self, other, axis=None)
 |
 |  __mod__ = wrapper(left, right, name='__mod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AA2F0>)
 |
 |  __mul__ = wrapper(left, right, name='__mul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1A1D90>)
 |
 |  __ne__ = wrapper(self, other, axis=None)
 |
 |  __or__ = wrapper(self, other)
 |
 |  __pow__ = wrapper(left, right, name='__pow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AA488>)
 |
 |  __radd__ = wrapper(left, right, name='__radd__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1A1A60>)
 |
 |  __rand__ = wrapper(self, other)
 |
 |  __rdiv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AAA60>)
 |
 |  __rfloordiv__ = wrapper(left, right, name='__rfloordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AAC80>)
 |
 |  __rmod__ = wrapper(left, right, name='__rmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1C4158>)
 |
 |  __rmul__ = wrapper(left, right, name='__rmul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AA620>)
 |
 |  __ror__ = wrapper(self, other)
 |
 |  __rpow__ = wrapper(left, right, name='__rpow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AAEA0>)
 |
 |  __rsub__ = wrapper(left, right, name='__rsub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AA840>)
 |
 |  __rtruediv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1AAA60>)
 |
 |  __rxor__ = wrapper(self, other)
 |
 |  __setitem__(self, key, value)
 |
 |  __sub__ = wrapper(left, right, name='__sub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1A1BF8>)
 |
 |  __truediv__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000001F1BE1A1F28>)
 |
 |  __unicode__(self)
 |      Return a string representation for a particular DataFrame
 |
 |      Invoked by unicode(df) in py2 only. Yields a Unicode String in both
 |      py2/py3.
 |
 |  __xor__ = wrapper(self, other)
 |
 |  add(self, other, level=None, fill_value=None, axis=0)
 |      Addition of series and other, element-wise (binary operator `add`).
 |
 |      Equivalent to ``series + other``, but with support to substitute a fill_value for
 |      missing data in one of the inputs.
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      fill_value : None or float value, default None (NaN)
 |          Fill missing (NaN) values with this value. If both Series are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |      See also
 |      --------
 |      Series.radd
 |
 |  agg = aggregate(self, func, axis=0, *args, **kwargs)
 |
 |  aggregate(self, func, axis=0, *args, **kwargs)
 |      Aggregate using callable, string, dict, or list of string/callables
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      func : callable, string, dictionary, or list of string/callables
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a Series or when passed to Series.apply. For
 |          a DataFrame, can pass a dict, if the keys are DataFrame column names.
 |
 |          Accepted Combinations are:
 |
 |          - string function name
 |          - function
 |          - list of functions
 |          - dict of column names -> functions (or list of functions)
 |
 |      Notes
 |      -----
 |      Numpy functions mean/median/prod/sum/std/var are special cased so the
 |      default behavior is applying the function along axis=0
 |      (e.g., np.mean(arr_2d, axis=0)) as opposed to
 |      mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).
 |
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      Returns
 |      -------
 |      aggregated : Series
 |
 |      Examples
 |      --------
 |
 |      >>> s = Series(np.random.randn(10))
 |
 |      >>> s.agg('min')
 |      -1.3018049988556679
 |
 |      >>> s.agg(['min', 'max'])
 |      min   -1.301805
 |      max    1.127688
 |      dtype: float64
 |
 |      See also
 |      --------
 |      pandas.Series.apply
 |      pandas.Series.transform
 |
 |  align(self, other, join='outer', axis=None, level=None, copy=True, fill_value=None, method=None, limit=None, fill_axis=0, broadcast_axis=None)
 |      Align two objects on their axes with the
 |      specified join method for each axis Index
 |
 |      Parameters
 |      ----------
 |      other : DataFrame or Series
 |      join : {'outer', 'inner', 'left', 'right'}, default 'outer'
 |      axis : allowed axis of the other object, default None
 |          Align on index (0), columns (1), or both (None)
 |      level : int or level name, default None
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |      copy : boolean, default True
 |          Always returns new objects. If copy=False and no reindexing is
 |          required then original objects are returned.
 |      fill_value : scalar, default np.NaN
 |          Value to use for missing values. Defaults to NaN, but can be any
 |          "compatible" value
 |      method : str, default None
 |      limit : int, default None
 |      fill_axis : {0, 'index'}, default 0
 |          Filling axis, method and limit
 |      broadcast_axis : {0, 'index'}, default None
 |          Broadcast values along this axis, if aligning two objects of
 |          different dimensions
 |
 |          .. versionadded:: 0.17.0
 |
 |      Returns
 |      -------
 |      (left, right) : (Series, type of other)
 |          Aligned objects
 |
 |  all(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether all elements are True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      all : scalar or Series (if level specified)
 |
 |  any(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether any element is True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      any : scalar or Series (if level specified)
 |
 |  append(self, to_append, ignore_index=False, verify_integrity=False)
 |      Concatenate two or more Series.
 |
 |      Parameters
 |      ----------
 |      to_append : Series or list/tuple of Series
 |      ignore_index : boolean, default False
 |          If True, do not use the index labels.
 |
 |          .. versionadded: 0.19.0
 |
 |      verify_integrity : boolean, default False
 |          If True, raise Exception on creating index with duplicates
 |
 |      Notes
 |      -----
 |      Iteratively appending to a Series can be more computationally intensive
 |      than a single concatenate. A better solution is to append values to a
 |      list and then concatenate the list with the original Series all at
 |      once.
 |
 |      See also
 |      --------
 |      pandas.concat : General function to concatenate DataFrame, Series
 |          or Panel objects
 |
 |      Returns
 |      -------
 |      appended : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = pd.Series([1, 2, 3])
 |      >>> s2 = pd.Series([4, 5, 6])
 |      >>> s3 = pd.Series([4, 5, 6], index=[3,4,5])
 |      >>> s1.append(s2)
 |      0    1
 |      1    2
 |      2    3
 |      0    4
 |      1    5
 |      2    6
 |      dtype: int64
 |
 |      >>> s1.append(s3)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `ignore_index` set to True:
 |
 |      >>> s1.append(s2, ignore_index=True)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `verify_integrity` set to True:
 |
 |      >>> s1.append(s2, verify_integrity=True)
 |      Traceback (most recent call last):
 |      ...
 |      ValueError: Indexes have overlapping values: [0, 1, 2]
 |
 |  apply(self, func, convert_dtype=True, args=(), **kwds)
 |      Invoke function on values of Series. Can be ufunc (a NumPy function
 |      that applies to the entire Series) or a Python function that only works
 |      on single values
 |
 |      Parameters
 |      ----------
 |      func : function
 |      convert_dtype : boolean, default True
 |          Try to find better dtype for elementwise function results. If
 |          False, leave as dtype=object
 |      args : tuple
 |          Positional arguments to pass to function in addition to the value
 |      Additional keyword arguments will be passed as keywords to the function
 |
 |      Returns
 |      -------
 |      y : Series or DataFrame if func returns a Series
 |
 |      See also
 |      --------
 |      Series.map: For element-wise operations
 |      Series.agg: only perform aggregating type operations
 |      Series.transform: only perform transformating type operations
 |
 |      Examples
 |      --------
 |
 |      Create a series with typical summer temperatures for each city.
 |
 |      >>> import pandas as pd
 |      >>> import numpy as np
 |      >>> series = pd.Series([20, 21, 12], index=['London',
 |      ... 'New York','Helsinki'])
 |      >>> series
 |      London      20
 |      New York    21
 |      Helsinki    12
 |      dtype: int64
 |
 |      Square the values by defining a function and passing it as an
 |      argument to ``apply()``.
 |
 |      >>> def square(x):
 |      ...     return x**2
 |      >>> series.apply(square)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Square the values by passing an anonymous function as an
 |      argument to ``apply()``.
 |
 |      >>> series.apply(lambda x: x**2)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Define a custom function that needs additional positional
 |      arguments and pass these additional arguments using the
 |      ``args`` keyword.
 |
 |      >>> def subtract_custom_value(x, custom_value):
 |      ...     return x-custom_value
 |
 |      >>> series.apply(subtract_custom_value, args=(5,))
 |      London      15
 |      New York    16
 |      Helsinki     7
 |      dtype: int64
 |
 |      Define a custom function that takes keyword arguments
 |      and pass these arguments to ``apply``.
 |
 |      >>> def add_custom_values(x, **kwargs):
 |      ...     for month in kwargs:
 |      ...         x+=kwargs[month]
 |      ...         return x
 |
 |      >>> series.apply(add_custom_values, june=30, july=20, august=25)
 |      London      95
 |      New York    96
 |      Helsinki    87
 |      dtype: int64
 |
 |      Use a function from the Numpy library.
 |
 |      >>> series.apply(np.log)
 |      London      2.995732
 |      New York    3.044522
 |      Helsinki    2.484907
 |      dtype: float64
 |
 |  argmax = wrapper(*args, **kwargs)
 |
 |  argmin = wrapper(*args, **kwargs)
 |
 |  argsort(self, axis=0, kind='quicksort', order=None)
 |      Overrides ndarray.argsort. Argsorts the value, omitting NA/null values,
 |      and places the result in the same locations as the non-NA values
 |
 |      Parameters
 |      ----------
 |      axis : int (can only be zero)
 |      kind : {'mergesort', 'quicksort', 'heapsort'}, default 'quicksort'
 |          Choice of sorting algorithm. See np.sort for more
 |          information. 'mergesort' is the only stable algorithm
 |      order : ignored
 |
 |      Returns
 |      -------
 |      argsorted : Series, with -1 indicated where nan values are present
 |
 |      See also
 |      --------
 |      numpy.ndarray.argsort
 |
 |  autocorr(self, lag=1)
 |      Lag-N autocorrelation
 |
 |      Parameters
 |      ----------
 |      lag : int, default 1
 |          Number of lags to apply before performing autocorrelation.
 |
 |      Returns
 |      -------
 |      autocorr : float
 |
 |  between(self, left, right, inclusive=True)
 |      Return boolean Series equivalent to left <= series <= right. NA values
 |      will be treated as False
 |
 |      Parameters
 |      ----------
 |      left : scalar
 |          Left boundary
 |      right : scalar
 |          Right boundary
 |
 |      Returns
 |      -------
 |      is_between : Series
 |
 |  combine(self, other, func, fill_value=nan)
 |      Perform elementwise binary operation on two Series using given function
 |      with optional fill value when an index is missing from one Series or
 |      the other
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      func : function
 |          Function that takes two scalars as inputs and return a scalar
 |      fill_value : scalar value
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = Series([1, 2])
 |      >>> s2 = Series([0, 3])
 |      >>> s1.combine(s2, lambda x1, x2: x1 if x1 < x2 else x2)
 |      0    0
 |      1    2
 |      dtype: int64
 |
 |      See Also
 |      --------
 |      Series.combine_first : Combine Series values, choosing the calling
 |          Series's values first
 |
 |  combine_first(self, other)
 |      Combine Series values, choosing the calling Series's values
 |      first. Result index will be the union of the two indexes
 |
 |      Parameters
 |      ----------
 |      other : Series
 |
 |      Returns
 |      -------
 |      combined : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = pd.Series([1, np.nan])
 |      >>> s2 = pd.Series([3, 4])
 |      >>> s1.combine_first(s2)
 |      0    1.0
 |      1    4.0
 |      dtype: float64
 |
 |      See Also
 |      --------
 |      Series.combine : Perform elementwise operation on two Series
 |          using a given function
 |
 |  compound(self, axis=None, skipna=None, level=None)
 |      Return the compound percentage of the values for the requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values when computing the result.
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      numeric_only : boolean, default None
 |          Include only float, int, boolean columns. If None, will attempt to use
 |          everything, then use only numeric data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      compounded : scalar or Series (if level specified)
 |
 |  compress(self, condition, *args, **kwargs)
 |      Return selected slices of an array along given axis as a Series
 |
 |      See also
 |      --------
 |      numpy.ndarray.compress
 |
 |  corr(self, other, method='pearson', min_periods=None)
 |      Compute correlation with `other` Series, excluding missing values
 |
 |      Parameters
 |      ----------
 |      other : Series
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient

### Different ways to create Series
- List
- Tuples
- Dictionaries
- Numpy array

In [5]:
# Create series using List
s1 = pd.Series([10,11,12,13,14])
s1

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [6]:
# create a series using Dictionary
dict3 = {'a':11,'b':'ab','c':12,'d':'de'}
s3 = pd.Series(dict3)
s3

a    11
b    ab
c    12
d    de
dtype: object

In [15]:
import numpy as np

# Create a series using numpy array
s4 = pd.Series(np.array([1,2,3,4,5]))
s4

0    1
1    2
2    3
3    4
4    5
dtype: int32

#### Operations between Series (+, -, /, * , ** )

In [8]:
s5 = pd.Series([121,1255,899,1000,55])
s6 = pd.Series([234,500,768,1012,2000])

In [14]:
s6 = pd.Series([234,500,768,1012,2000], 
               index = ['A','B','C','D','E'])
s6

A     234
B     500
C     768
D    1012
E    2000
dtype: int64

In [9]:
print(s5 + s6)

0     355
1    1755
2    1667
3    2012
4    2055
dtype: int64

In [10]:
print(s5 ** s6)

0    1161817551383942385
1    3532270020038902369
2   -5645898842585539583
3                      0
4   -8094442242968506239
dtype: int64

### DataFrames
- pd.DataFrame()

In [15]:
help(pd.DataFrame())

Help on DataFrame in module pandas.core.frame object:

class DataFrame(pandas.core.generic.NDFrame)
 |  Two-dimensional size-mutable, potentially heterogeneous tabular data
 |  structure with labeled axes (rows and columns). Arithmetic operations
 |  align on both row and column labels. Can be thought of as a dict-like
 |  container for Series objects. The primary pandas data structure
 |
 |  Parameters
 |  ----------
 |  data : numpy ndarray (structured or homogeneous), dict, or DataFrame
 |      Dict can contain Series, arrays, constants, or list-like objects
 |  index : Index or array-like
 |      Index to use for resulting frame. Will default to np.arange(n) if
 |      no indexing information part of input data and no index provided
 |  columns : Index or array-like
 |      Column labels to use for resulting frame. Will default to
 |      np.arange(n) if no column labels are provided
 |  dtype : dtype, default None
 |      Data type to force. Only a single dtype is allowed. If None, infer
 |  copy : boolean, default False
 |      Copy data from inputs. Only affects DataFrame / 2d ndarray input
 |
 |  Examples
 |  --------
 |  Constructing DataFrame from a dictionary.
 |
 |  >>> d = {'col1': [1, 2], 'col2': [3, 4]}
 |  >>> df = pd.DataFrame(data=d)
 |  >>> df
 |     col1  col2
 |  0     1     3
 |  1     2     4
 |
 |  Notice that the inferred dtype is int64.
 |
 |  >>> df.dtypes
 |  col1    int64
 |  col2    int64
 |  dtype: object
 |
 |  To enforce a single dtype:
 |
 |  >>> df = pd.DataFrame(data=d, dtype=np.int8)
 |  >>> df.dtypes
 |  col1    int8
 |  col2    int8
 |  dtype: object
 |
 |  Constructing DataFrame from numpy ndarray:
 |
 |  >>> df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
 |  ...                    columns=['a', 'b', 'c', 'd', 'e'])
 |  >>> df2
 |      a   b   c   d   e
 |  0   2   8   8   3   4
 |  1   4   2   9   0   9
 |  2   1   0   7   8   0
 |  3   5   1   7   1   3
 |  4   6   0   2   4   2
 |
 |  See also
 |  --------
 |  DataFrame.from_records : constructor from tuples, also record arrays
 |  DataFrame.from_dict : from dicts of Series, arrays, or dicts
 |  DataFrame.from_items : from sequence of (key, value) pairs
 |  pandas.read_csv, pandas.read_table, pandas.read_clipboard
 |
 |  Method resolution order:
 |      DataFrame
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __add__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __and__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __and__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __div__ = __truediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __eq__(self, other)
 |      Wrapper for comparison method __eq__
 |
 |  __floordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __floordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __ge__(self, other)
 |      Wrapper for comparison method __ge__
 |
 |  __getitem__(self, key)
 |
 |  __gt__(self, other)
 |      Wrapper for comparison method __gt__
 |
 |  __iadd__ = f(self, other)
 |
 |  __iand__ = f(self, other)
 |
 |  __ifloordiv__ = f(self, other)
 |
 |  __imod__ = f(self, other)
 |
 |  __imul__ = f(self, other)
 |
 |  __init__(self, data=None, index=None, columns=None, dtype=None, copy=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__ = f(self, other)
 |
 |  __ipow__ = f(self, other)
 |
 |  __isub__ = f(self, other)
 |
 |  __itruediv__ = f(self, other)
 |
 |  __ixor__ = f(self, other)
 |
 |  __le__(self, other)
 |      Wrapper for comparison method __le__
 |
 |  __len__(self)
 |      Returns length of info axis, but here we use the index
 |
 |  __lt__(self, other)
 |      Wrapper for comparison method __lt__
 |
 |  __mod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __mul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __ne__(self, other)
 |      Wrapper for comparison method __ne__
 |
 |  __or__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __or__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __pow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __pow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __radd__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __radd__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rand__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __rand__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rdiv__ = __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __rfloordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rfloordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rmod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rmul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __ror__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __ror__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rpow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rpow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rsub__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rsub__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rtruediv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rxor__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __rxor__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __setitem__(self, key, value)
 |
 |  __sub__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __sub__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __truediv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __truediv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill missing (NaN) values with this value. If both DataFrame locations are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __unicode__(self)
 |      Return a string representation for a particular DataFrame
 |

### Create DataFrames

In [18]:
dict1 = {'Trainers':['Mounika','Siva','Madevi'], 
         'Subjects':['Python','DA','ML'], 
         'id':[1256,1355,1515]}
df1 = pd.DataFrame(dict1,index = ['a','b','c'])

In [19]:
df1

  Subjects Trainers    id
a   Python  Mounika  1256
b       DA     Siva  1355
c       ML   Madevi  1515

### Indexing
- Selecting Rows
    - df[stat_val : stop_val]
- Selecting Columns
    - df['col_name'] or df.col_name
- Selecting multiple columns
    - df[['col_name1', 'col_name2',.....]]

In [20]:
df1

  Subjects Trainers    id
a   Python  Mounika  1256
b       DA     Siva  1355
c       ML   Madevi  1515

In [21]:
df1[0:1]

  Subjects Trainers    id
a   Python  Mounika  1256

In [22]:
df1['Trainers']

a    Mounika
b       Siva
c     Madevi
Name: Trainers, dtype: object

In [24]:
df1['id'][2]

1515

In [25]:
df1[2]

KeyError: 2

### iloc and loc
- iloc: position based index
- loc: label based index

In [26]:
df1.iloc[2]

Subjects        ML
Trainers    Madevi
id            1515
Name: c, dtype: object

In [27]:
type(df1.iloc[2])

pandas.core.series.Series

In [29]:
df1.loc['c']

Subjects        ML
Trainers    Madevi
id            1515
Name: c, dtype: object

In [33]:
df1

  Subjects Trainers    id
a   Python  Mounika  1256
b       DA     Siva  1355
c       ML   Madevi  1515

In [32]:
df1.iloc[0:2,2]

a    1256
b    1355
Name: id, dtype: int64

In [41]:
df1.loc['a':'b',['Trainers','Subjects']]

  Trainers Subjects
a  Mounika   Python
b     Siva       DA

In [42]:
df1.iloc[0:2,[0,1]]

  Subjects Trainers
a   Python  Mounika
b       DA     Siva

In [3]:
dict1 = {'Sports':['Cricket','hockey','CoCo'], 
         'Score':[9,7,8.6], 
         'Team':['CS_team','EC_team','it_team']}
df1 = pd.DataFrame(dict1,index = ['A','B','C'])

In [4]:
dict2 = {'Sports':['TempleRun','PubG','Ludo'], 
         'Score':[5,6,7], 
         'Team':['Mech_tm','Civil_tm','EEE_tm']}
df2 = pd.DataFrame(dict2,index = ['A','B','C'])

In [5]:
df1

   Score   Sports     Team
A    9.0  Cricket  CS_team
B    7.0   hockey  EC_team
C    8.6     CoCo  it_team

In [6]:
df2

   Score     Sports      Team
A      5  TempleRun   Mech_tm
B      6       PubG  Civil_tm
C      7       Ludo    EEE_tm

#### Combine df1 and df2
- pd.concat()

In [7]:
pd.concat([df1,df2])

   Score     Sports      Team
A    9.0    Cricket   CS_team
B    7.0     hockey   EC_team
C    8.6       CoCo   it_team
A    5.0  TempleRun   Mech_tm
B    6.0       PubG  Civil_tm
C    7.0       Ludo    EEE_tm

In [8]:
pd.concat([df1,df2], axis = 1)

   Score   Sports     Team  Score     Sports      Team
A    9.0  Cricket  CS_team      5  TempleRun   Mech_tm
B    7.0   hockey  EC_team      6       PubG  Civil_tm
C    8.6     CoCo  it_team      7       Ludo    EEE_tm

#### Adding a row and column

In [9]:
df1

   Score   Sports     Team
A    9.0  Cricket  CS_team
B    7.0   hockey  EC_team
C    8.6     CoCo  it_team

In [11]:
df1.append({'Score':10,'Sports':'Basketball',
            'Team':'Agri_team'},
           ignore_index=True )

   Score      Sports       Team
0    9.0     Cricket    CS_team
1    7.0      hockey    EC_team
2    8.6        CoCo    it_team
3   10.0  Basketball  Agri_team

In [12]:
df1['win/lost'] = ['Win', 'Lost', 'Win']

In [13]:
df1

   Score   Sports     Team win/lost
A    9.0  Cricket  CS_team      Win
B    7.0   hockey  EC_team     Lost
C    8.6     CoCo  it_team      Win

### Getting and Loading Data Set

In [16]:
print(dir(pd))

['Categorical', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'ExcelFile', 'ExcelWriter', 'Expr', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int64Index', 'Interval', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Panel4D', 'Period', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseList', 'SparseSeries', 'Term', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt64Index', 'WidePanel', '_DeprecatedModule', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p10', '_np_version_under1p11', '_np_version_under1p12', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_tslib', '_version', 'api', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'datetools', 'describe_option', 'errors', 'eval', 'ewma', 'ewmcorr', 'ewmcov', 'ewmstd', 'ewmvar', 'ewmvol', 'expanding_apply', 'expanding_corr', 'expanding_count', 'expanding_cov', 'expanding_kurt', 'expanding_max', 'expanding_mean', 'expanding_median', 'expanding_min', 'expanding_quantile', 'expanding_skew', 'expanding_std', 'expanding_sum', 'expanding_var', 'factorize', 'get_dummies', 'get_option', 'get_store', 'groupby', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json', 'lib', 'lreshape', 'match', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'ordered_merge', 'pandas', 'parser', 'period_range', 'pivot', 'pivot_table', 'plot_params', 'plotting', 'pnow', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'rolling_apply', 'rolling_corr', 'rolling_count', 'rolling_cov', 'rolling_kurt', 'rolling_max', 'rolling_mean', 'rolling_median', 'rolling_min', 'rolling_quantile', 'rolling_skew', 'rolling_std', 'rolling_sum', 'rolling_var', 'rolling_window', 'scatter_matrix', 'set_eng_float_format', 'set_option', 'show_versions', 'stats', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tools', 'tseries', 'tslib', 'unique', 'util', 'value_counts', 'wide_to_long']

In [17]:
df = pd.read_csv('market_fact.csv')
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [18]:
df.head()# top 5 rows

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [19]:
df.head(10)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37

In [20]:
df.tail()# last 5 rows

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [21]:
df.tail(7)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [23]:
df.sample()# displays one random row

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
1782,Ord_137,Prod_12,SHP_184,Cust_81,78.47,0.06,27,17.99,0.99,0.36

In [24]:
df.sample(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
4594,Ord_5336,Prod_2,SHP_7449,Cust_1774,2317.6500,0.00,29,568.60,13.99,0.52
3211,Ord_683,Prod_4,SHP_934,Cust_229,2634.8555,0.08,20,257.76,8.08,0.60
2013,Ord_4305,Prod_14,SHP_6008,Cust_1436,17599.3900,0.03,28,5513.86,24.49,0.50
5978,Ord_3093,Prod_4,SHP_4290,Cust_1143,1335.3160,0.03,45,701.66,0.99,0.35
2232,Ord_1958,Prod_6,SHP_2680,Cust_695,164.4100,0.00,30,-128.52,7.54,0.38

In [25]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [26]:
df.index

RangeIndex(start=0, stop=8399, step=1)

In [27]:
df2 = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Global%20Dataset/Market_Fact.csv')

In [28]:
df2.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [33]:
df.shape

(8399, 10)

### Statistics

In [30]:
df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [31]:
df.mean()

Sales                  1775.878179
Discount                  0.049671
Order_Quantity           25.571735
Profit                  181.184424
Shipping_Cost            12.838557
Product_Base_Margin       0.512513
dtype: float64

In [32]:
df['Sales'].mean()

1775.8781788308156

### Filtering

In [34]:
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [35]:
df['Sales'] > 30000

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Sales, Length: 8399, dtype: bool

In [36]:
df[df['Sales'] > 30000]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39

In [37]:
df[df['Sales'] > 30000].count()

Ord_id                 4
Prod_id                4
Ship_id                4
Cust_id                4
Sales                  4
Discount               4
Order_Quantity         4
Profit                 4
Shipping_Cost          4
Product_Base_Margin    4
dtype: int64

In [38]:
df[(df['Sales'] > 25000) & 
   (df['Sales'] < 30000)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62

In [40]:
df['Prod_id'].value_counts()

Prod_6     1225
Prod_3      915
Prod_4      883
Prod_5      788
Prod_8      758
Prod_13     633
Prod_1      546
Prod_2      434
Prod_15     386
Prod_11     361
Prod_17     337
Prod_12     288
Prod_9      246
Prod_10     189
Prod_7      179
Prod_16     144
Prod_14      87
Name: Prod_id, dtype: int64

In [41]:
df['Prod_id'] == 'Prod_14'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Prod_id, Length: 8399, dtype: bool

In [42]:
df[df['Prod_id'] == 'Prod_14']

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
79,Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.40,0.06,12,287.50,49.00,0.38
544,Ord_4941,Prod_14,SHP_6892,Cust_1680,6034.68,0.06,12,-517.08,24.49,0.36
597,Ord_4918,Prod_14,SHP_6858,Cust_1675,10134.55,0.08,17,-597.21,24.49,0.37
766,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.35,0.09,47,2787.59,24.49,0.46
1099,Ord_218,Prod_14,SHP_304,Cust_56,12616.20,0.07,19,2808.22,24.49,0.41
1168,Ord_4418,Prod_14,SHP_6159,Cust_1517,4588.55,0.01,10,-266.62,24.49,0.52
1252,Ord_1536,Prod_14,SHP_2125,Cust_561,14475.74,0.06,28,4963.89,49.00,0.35
1299,Ord_19,Prod_14,SHP_26,Cust_14,12028.23,0.01,25,-547.61,49.00,0.38
1363,Ord_82,Prod_14,SHP_108,Cust_62,21506.77,0.06,44,1260.51,24.49,0.36
1412,Ord_2437,Prod_14,SHP_3344,Cust_929,4667.28,0.09,7,-362.88,24.49,0.41
1494,Ord_188,Prod_14,SHP_253,Cust_97,17387.65,0.08,35,6907.61,24.49,0.36
1535,Ord_4059,Prod_14,SHP_5659,Cust_1378,14981.74,0.02,49,-1791.50,11.64,0.50
1701,Ord_1909,Prod_14,SHP_2616,Cust_696,2361.10,0.01,5,-1042.71,49.00,0.38
1775,Ord_5448,Prod_14,SHP_7613,Cust_1797,17605.77,0.01,38,-370.04,49.00,0.38
1787,Ord_2872,Prod_14,SHP_7219,Cust_1748,21555.60,0.02,47,8965.83,49.00,0.38
1788,Ord_5145,Prod_14,SHP_7191,Cust_1748,3563.88,0.00,11,285.95,11.64,0.50
1792,Ord_5148,Prod_14,SHP_7194,Cust_1748,19224.92,0.10,47,6635.15,49.00,0.38
1848,Ord_5315,Prod_14,SHP_7423,Cust_1780,21141.07,0.06,49,6225.36,24.49,0.52
1926,Ord_4566,Prod_14,SHP_6354,Cust_1515,13698.96,0.05,4,-9078.94,24.49,0.37
2013,Ord_4305,Prod_14,SHP_6008,Cust_1436,17599.39,0.03,28,5513.86,24.49,0.50
2059,Ord_4543,Prod_14,SHP_6324,Cust_1538,23949.51,0.00,46,-1312.84,24.49,0.36
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
2345,Ord_2439,Prod_14,SHP_3346,Cust_942,16468.55,0.08,39,5638.75,49.00,0.38
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
2385,Ord_3427,Prod_14,SHP_4749,Cust_1220,19461.80,0.06,43,7752.01,49.00,0.38
2631,Ord_1505,Prod_14,SHP_2081,Cust_518,9862.51,0.07,15,325.29,24.49,0.54
2788,Ord_396,Prod_14,SHP_532,Cust_139,8662.34,0.00,15,-704.66,49.00,0.35
2789,Ord_416,Prod_14,SHP_559,Cust_139,3672.89,0.01,1,-3061.82,24.49,0.37
2950,Ord_421,Prod_14,SHP_565,Cust_142,10791.38,0.08,23,-234.79,24.49,0.36
...,...,...,...,...,...,...,...,...,...,...
5454,Ord_3903,Prod_14,SHP_5417,Cust_1334,3457.99,0.05,1,-11861.46,24.49,0.37
5640,Ord_1699,Prod_14,SHP_2353,Cust_586,10567.45,0.10,38,2925.37,11.64,0.50
5661,Ord_2164,Prod_14,SHP_2950,Cust_812,1294.35,0.06,3,-1569.06,24.49,0.40
5822,Ord_3629,Prod_14,SHP_5026,Cust_1260,13934.53,0.10,50,4352.83,11.64,0.50
5865,Ord_4166,Prod_14,SHP_5804,Cust_1401,21956.03,0.10,38,5903.09,24.49,0.50
5968,Ord_3073,Prod_14,SHP_4267,Cust_1142,3550.28,0.06,1,-11769.17,24.49,0.37
6116,Ord_1791,Prod_14,SHP_2711,Cust_685,21717.36,0.06,32,8249.86,24.49,0.41
6168,Ord_3297,Prod_14,SHP_4573,Cust_1230,13571.70,0.00,29,3825.69,24.49,0.52
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
6261,Ord_1479,Prod_14,SHP_2042,Cust_522,14240.76,0.06,25,3128.69,24.49,0.50
6338,Ord_1943,Prod_14,SHP_2661,Cust_720,6813.93,0.09,16,358.19,49.00,0.38
6520,Ord_778,Prod_14,SHP_1067,Cust_262,7813.70,0.09,40,2154.33,24.49,0.46
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
6683,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
6972,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41
6975,Ord_171,Prod_14,SHP_231,Cust_1194,6350.29,0.02,10,-735.97,24.49,0.50
6994,Ord_1390,Prod_14,SHP_1919,Cust_537,6933.45,0.04,15,1200.21,49.00,0.38
7146,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36
7286,Ord_1767,Prod_14,SHP_2450,Cust_583,16743.76,0.00,23,6079.63,24.49,0.41
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
7513,Ord_5401,Prod_14,SHP_7543,Cust_1801,10281.79,0.03,20,3272.90,24.49,0.36
7665,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46
7929,Ord_4106,Prod_14,SHP_5720,Cust_1397,11829.40,0.07,20,3899.72,24.49,0.37
8038,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
8078,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52
8292,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37
8357,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50

In [43]:
df[df['Prod_id'] == 'Prod_14'].count()

Ord_id                 87
Prod_id                87
Ship_id                87
Cust_id                87
Sales                  87
Discount               87
Order_Quantity         87
Profit                 87
Shipping_Cost          87
Product_Base_Margin    87
dtype: int64

### Sorting
- Ascending
- Decending
    - df.sort_values()

In [44]:
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [45]:
df.sort_values(by = ['Sales'])# by default Ascending order

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
...,...,...,...,...,...,...,...,...,...,...
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39

In [49]:
df.sort_values(by=['Sales'],
               ascending = False, 
               inplace = True)

In [50]:
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
...,...,...,...,...,...,...,...,...,...,...
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37

- inplace = True: Original dataset will change
- inplace = FalseL: Original dataset wont change

In [48]:
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38